{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {{ form_errors(registrationForm, {attr: {'class': 'alert alert-danger'}}) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name, {attr: {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email, {attr: {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.delivery_adress, {attr: {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {attr: {'class': 'form-control'}},
            {
                label: 'Password'
            }) }}
        <div class="checkbox mb-3">
            <label>
                {{ form_row(registrationForm.agreeTerms, {attr: {'class': 'checkbox'}}) }}
            </label>
        </div>

        <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
