{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container w-25 border my-5">
        <h1 class="h3 mb-3 font-weight-normal">S'inscrire</h1>

        <div class="container border mb-2"></div>
    
        {{ form_errors(registrationForm, {attr: {'class': 'alert alert-danger'}}) }}
    
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name, {attr: {'class': 'form-control'}}) }}
            {{ form_row(registrationForm.email, {attr: {'class': 'form-control'}}) }}
            {{ form_row(registrationForm.delivery_adress, {attr: {'class': 'form-control'}}) }}
            {{ form_row(registrationForm.plainPassword.first, {attr: {'class': 'form-control'}}) }}
            {{ form_row(registrationForm.plainPassword.second, {attr: {'class': 'form-control'}}) }}

            <div class="checkbox mb-3">
                <label>
                    {{ form_row(registrationForm.agreeTerms, {attr: {'class': 'checkbox'}}) }}
                </label>
            </div>
    
            <button type="submit" class="btn btn-lg btn-primary ms-3">Créer un compte</button>
        {{ form_end(registrationForm) }}

        <div class="container border my-2"></div>

        <div class="mt-2">
            <p>Déjà inscrit ?</p>
            <button class="btn btn-lg btn-primary ms-3 mb-3">
                <a href="{{ path('app_login')}}" class="text-white">Se connecter</a>
            </button>
        </div>
    </div>
{% endblock %}
